.container{
    width: 80%;
}
.fas{
    color:red;
}
@media (max-width : 768px){
    .row{
        padding: 0px 30px; 
    }
    .card-text{
        margin: 20px 0px ; 
    }   
}

.img-fluid{
    background-color: #fff;
    box-shadow: 0px 0px 5px 10px rgb(214, 212, 212);
}
.row{
    padding: 20px 0px ;
}

