<div class="card">
  <div class="card-header d-flex">
    <div class="col-lg-6">
      <h3>Nom d'utilisateur</h3>
    </div>
    <div class="col-lg-6 text-right">
      <p>Date de création du poste</p>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title text-center py-5">Titre du post</h5>
    <div class="d-flex">
      <div class="col-lg-6">
        <p class="card-text py-2">*Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere autem mollitia soluta a quo quibusdam maiores dolorem voluptas totam omnis fugiat corrupti culpa accusantium nesciunt vel, odio nemo labore voluptate.Dolore reiciendis voluptatibus sed accusamus deleniti ullam adipisci, impedit corrupti odio id non distinctio quibusdam eos expedita deserunt illum, praesentium dolorem alias eum voluptatum cum? Amet praesentium quod dicta iste?</p>
      </div>
      <div class="col-lg-6 text-center">
        <img class="card-img-bottom" src="..." alt="Card image cap">
      </div>
    </div>
    <button class="btn btn-primary m-3 "type="button" data-toggle="collapse" data-target="#content">Commentaire</button>
  </div> 
</div>
<div class="collapse container" id="content">
  <div class="card mt-3">
    <div class="card-header d-flex">
      <div class="col-lg-6 text-center">
        <h3>Nom d'utilisateur</h3>
      </div>
      <div class="col-lg-6 text-center ">
        <p>Date de création du commentaire</p>
      </div>
    </div>
    <div class="card-body">
      <p class="text-center">Contenu du commentaire</p>
    </div>
  </div>
  <form class="mt-3 border border-grey">
    <h2 class="text-center">Ajouter votre commentaire</h2>
    <div class="form-group py-2">
        <label>Votre message :</label>
        <textarea class="form-control" rows="5"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Publier</button>
  </form>
</div>







