  <div class="row">
    <div class="card my-5" *ngFor="let post of posts">
      <div class="card-header d-flex">
        <div class="col-lg-6">
          <h3>{{ post.userId }}</h3>
        </div>
        <div class="col-lg-6 text-right">
          <p>{{ post.createdAt }} </p>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title text-center py-5">{{ post.title }}</h5>
        <div class="d-flex">
          <div class="col-lg-6">
            <p class="card-text py-2">{{ post.content }}</p>
          </div>
          <div class="col-lg-6 text-center">
            <img class="card-img-top" src="{{ this.post.attachment }}" alt="Card image cap"> 
          </div>
        </div>
        <div class="d-flex justify-content-between py-3">
          <button class="btn btn-primary m-3" type="button" [routerLink]="['/forum/commentaire/', post.id]">Commentaire</button>
          <button class="btn btn-primary m-3 " type="button" *ngIf="post.userId == userId" [routerLink]="['/forum/update/', post.id]">Modifier</button>
          <button class="btn btn-danger" *ngIf="post.userId == userId" (click)="deletePost(post)">Supprimer</button>
          <ngb-alert [dismissible]="false" *ngIf="delete == false"><strong>Post supprimé !</strong></ngb-alert>
        </div>  
      </div>     
  </div>
  </div>




