<form class="d-flex">
    <div class="col-lg-6">
        <div class="form-group">
            <label >Email</label>
            <input type="email" class="form-control">
          </div>
          <div class="form-group">
            <label >Mot de passe</label>
            <input type="password" class="form-control">
          </div>
          <div class="form-group">
            <label >Utilisateur</label>
            <input type="text" class="form-control">
          </div>
    </div>
    <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center p-5">
        <div class="form-group">
            <a href=""><label class="btn btn-primary">Modifier</label></a>
          </div>
          <div class="form-group">
            <a href=""><label class="btn btn-primary">Supprimer mon compte</label></a>
          </div>
    </div>
  </form>