<section>
    <img src="../assets/icon-left-font-monochrome-black.svg" alt="">
    <div class="row mt-5">
        <div class="col-lg-6">
            <p>Notre entreprise, spécialisée dans la grande distribution, est en pleine expansion. Nous avons actuellement
                plus de 600 collaborateurs et avons beaucoup recruté depuis quelques années. Nous étions uniquement
                300 il y a 3 ans. 
            </p>
            <p>Voici un Réseaux Social d'entreprise qui a pour but d'améliorer la communication au sein notre entreprise. </p>
        </div>
        <div class="col-lg-6">
            <h2 class="name">Réalisé par Michard Maxime</h2>
        </div>
        
    </div>
 </section>
