<section>
    <div class="col-lg-12">
        <h2 class="name text-center">Réalisé par Michard Maxime</h2>
    </div>
    <div class="baniere">
        <img class="img-fluid" src="../../assets//Travail-déquipe-2-1080x675.png" alt="reunion">
        <div class="baniere_description">
            <div class="col-lg-12">
                <p>Notre entreprise, spécialisée dans la grande distribution, est en pleine expansion. Nous avons actuellement
                    plus de 600 collaborateurs et avons beaucoup recruté depuis quelques années. Nous étions uniquement
                    300 il y a 3 ans. 
                </p>
                <p>Voici un Réseaux Social d'entreprise qui a pour but d'améliorer la communication au sein nos équipes. </p>
            </div>
        </div>
    </div>
    
 </section>
