<div class="footer">
    <div class="row">
        <div class="col-lg-4">
            <h5>Partenaire:</h5>
            <ul class="list-unstyled">
                <li>Crédit agricole</li>
                <li>Orange</li>
                <li>But</li>
            </ul>
            <ul class="list-unstyled">
                <li>PMU</li>
                <li>Twitch</li>
                <li>Logitech</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h5>Réseaux sociaux:</h5>
            <div class="sociaux">
                <div class="col-sm-3">
                    <div class="text-center">
                        <a class="social" href="https://twitter.com/?lang=en"><span class="fa fa-twitter fa-2x">Twitter</span></a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-center">
                        <a class="social" href="https://www.facebook.com/"><span class="fa fa-facebook fa-2x">Facebook</span></a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-center">
                        <a class="social" href="https://dribbble.com/"><span class="fa fa-dribbble fa-2x">Dribble</span></a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-center">
                        <a class="social" href="index.html"><span class="fa fa-instagram fa-2x">Instagram</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <p>En cas de problème veuilez contacter: 00 00 00 00 00</p>
            <a class="text-dark" href="mailto:groupomania@gmail.com"><p>Email: groupomania@gmail.com</p></a>
            <p>Adresse: 77 rue Louis, Paris 75000</p>
            <p>Mentions légales</p>
    </div>
</div>