li{
    padding: 5px 0px;
}
span{
    color:black;
    padding:10px 0px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
@media (max-width : 768px){
    .footer{
        text-align: center;
    }
    .sociaux{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

}
